/* Write your CSS here */
.card-con {
  display: flex;
  flex-direction: column;
  background-color: #1c1c2b;
  margin-bottom: 20px;
  padding: 20px;
}
.heading {
  color: grey;
  font-size: 25px;
  font-weight: 500;
  font-family: 'Roboto';
  line-height: 1.5;
}
